## 剑指 Offer 09. 用两个栈实现队列-简单
用两个栈实现一个队列。队列的声明如下，请实现它的两个函数 appendTail 和 deleteHead ，分别完成在队列尾部插入整数和在队列头部删除整数的功能。(若队列中没有元素，deleteHead 操作返回 -1 )
示例 1：
输入：
["CQueue","appendTail","deleteHead","deleteHead"]
[[],[3],[],[]]
输出：[null,null,3,-1]
示例 2：
输入：
["CQueue","deleteHead","appendTail","appendTail","deleteHead","deleteHead"]
[[],[],[5],[2],[],[]]
输出：[null,-1,null,null,5,2]
提示：
1 <= values <= 10000
最多会对 appendTail、deleteHead 进行 10000 次调用
链接：https://leetcode-cn.com/problems/yong-liang-ge-zhan-shi-xian-dui-lie-lcof

**解题思路**  
- 栈无法实现队列功能： 栈底元素（对应队首元素）无法直接删除，需要将上方所有元素出栈。
- 双栈可实现列表倒序： 设有含三个元素的栈 A=[1,2,3] 和空栈 B=[]。若循环执行 A 元素出栈并添加入栈 B ，直到栈 A 为空，则 A=[] , B=[3,2,1] ，即 栈 B 元素实现栈 A 元素倒序 。
- 利用栈 B 删除队首元素： 倒序后，B 执行出栈则相当于删除了 A 的栈底元素，即对应队首元素。

**函数设计**  
题目只要求实现 加入队尾appendTail() 和 删除队首deleteHead() 两个函数的正常工作，因此我们可以设计栈 A 用于加入队尾操作，栈 B 用于将元素倒序，从而实现删除队首元素。

- 加入队尾 appendTail()函数： 将数字 val 加入栈 A 即可。
- 删除队首deleteHead()函数： 有以下三种情况。
    - 1. 当栈 B 不为空： B中仍有已完成倒序的元素，因此直接返回 B 的栈顶元素。
    - 2. 否则，当 A 为空： 即两个栈都为空，无元素，因此返回 −1 。
    - 3. 否则： 将栈 A 元素全部转移至栈 B 中，实现元素倒序，并返回栈 B 的栈顶元素。  
    
链接：https://leetcode-cn.com/problems/yong-liang-ge-zhan-shi-xian-dui-lie-lcof/solution/mian-shi-ti-09-yong-liang-ge-zhan-shi-xian-dui-l-2/

In [4]:
class CQueue:
    #生成stack A, Stack B
    def __init__(self):
        self.A, self.B = [], []
    # add value
    def appendTail(self, value: int) -> None:
        self.A.append(value)
    # delete head
    def deleteHead(self) -> int:
        # if B 非空，删除末尾的value，就是A的第一个value
        if self.B: return self.B.pop()
        # B 空， A kong，返回-1
        if not self.A: return -1
        # B 空, A 非 空， A的最后一个value都给到B，知道A为空，然后删除B的最后一个
        while self.A:
            self.B.append(self.A.pop())
        return self.B.pop()

我们先来看一下题目要求，设计一个支持 push ，pop ，top 操作，并能在常数时间内检索到最小元素的栈。
思路如下，我们需要通过两个栈来实现，栈A用来执行正常的操作，栈B用来保存,栈A当前的最小元素，下面我们通过一个视频进行说明。
1.我们执行入栈操作时，先观察需要入栈的元素是否小于栈 B 的栈顶元素，如果小于则两个栈都执行入栈操作。
2.栈 B 的栈顶元素则是，栈 A 此时的最小值。则 getmin 只需返回栈 B 的栈顶元素即可。
3.出栈时，需要进行对比，若栈 A 和栈 B 栈顶元素相同，则同时出栈，此时 B 的栈顶保存的仍为此时栈 A 的最小元素。

链接：https://leetcode-cn.com/problems/bao-han-minhan-shu-de-zhan-lcof/solution/yi-xia-jiu-neng-du-dong-de-ti-jie-fu-zhu-yhbx/

In [ ]:
class MinStack:

    def __init__(self):
        """
        initialize your data structure here.
        """
        self.A=[]
        self.B=[]


    def push(self, x: int) -> None:
        self.A.append(x)
        if not self.B or self.B[-1] > x:
            self.B.append(x)


    def pop(self) -> None:
        y=self.A.pop()
        if y==self.B[-1]:
            self.B.pop()


    def top(self) -> int:
        return self.A[-1]


    def min(self) -> int:
        return self.B[-1]

   server_id        date  repair_status
0          1  2019-06-03              1
1          1  2019-06-15              2
2          2  2019-08-01              1
3          2  2019-08-03              2
4          2  2019-08-15              1
5          2  2019-08-20              2
6          3  2019-08-30              1

   server_id       date  repair_status
0          1 2019-06-03              1
1          1 2019-06-15              2
2          2 2019-08-01              1
3          2 2019-08-03              2
4          2 2019-08-15              1
5          2 2019-08-20              2
6          3 2019-08-30              1

   server_id       date  repair_status
0          1 2019-06-03              1
1          1 2019-06-15              2

0       NaT
1   12 days
2       NaT
3    2 days
4   12 days
5    5 days
6       NaT
Name: date, dtype: timedelta64[ns]

Timestamp('2019-06-03 00:00:00')