# Mock Question 3
Simpson found a table that shows daily kill number. He wants to know his highest number of kills in 3 consecutive days. He wants to know the time window and highest number of kills for those 3 days.  
**Input**  
| row_number | player_id | date | num_kill |  
| 1 | a | 2021-06-03T00:00:00 | 3 |  
| 2 | a | 2021-06-04T00:00:00 | 5 |  
| 3 | a | 2021-06-07T00:00:00 | 7 |  
| 4 | a | 2021-06-05T00:00:00 | 9 |  
**Output**  
| player_id | date | sum_kill |    
| a | 2021-06-03 | 17 |

## Solution 1 by Python
- import package
    - Pandas
- Data wraggling
    - Create data demo of df
    - convert the datetime
    - check the df type
    - reset index
    - drop useless column
- Algorythms
    - create "sum_kil"
    - find diff_date < 2
    - update "sum_kill"
    - get the result tabel needed

In [1]:
import pandas as pd

In [2]:
# create the data demo of df
row_number=[1,2,3,4]
player_id=["a","a","a","a"]
date=["2021-06-03T00:00:00","2021-06-04T00:00:00","2021-06-07T00:00:00","2021-06-05T00:00:00"]
num_kill=[3,5,7,9]
dict={"row_number":row_number,"player_id":player_id,"date":date,"num_kill":num_kill}
df=pd.DataFrame(dict)
df

   row_number player_id                 date  num_kill
0           1         a  2021-06-03T00:00:00         3
1           2         a  2021-06-04T00:00:00         5
2           3         a  2021-06-07T00:00:00         7
3           4         a  2021-06-05T00:00:00         9

In [3]:
df["date"]=pd.to_datetime(df['date'])
df

   row_number player_id       date  num_kill
0           1         a 2021-06-03         3
1           2         a 2021-06-04         5
2           3         a 2021-06-07         7
3           4         a 2021-06-05         9

In [4]:
df.dtypes

row_number             int64
player_id             object
date          datetime64[ns]
num_kill               int64
dtype: object

In [5]:
# sort by "date",ascending
df.sort_values(by=['date'],axis=0,ascending=True,inplace=True,na_position='last')
df

   row_number player_id       date  num_kill
0           1         a 2021-06-03         3
1           2         a 2021-06-04         5
3           4         a 2021-06-05         9
2           3         a 2021-06-07         7

In [6]:
# because of the sort, the index are chaos, so reset the index
df.reset_index(drop=True, inplace=True)
df

   row_number player_id       date  num_kill
0           1         a 2021-06-03         3
1           2         a 2021-06-04         5
2           4         a 2021-06-05         9
3           3         a 2021-06-07         7

In [7]:
df= df.drop(['row_number'],axis=1)
df

  player_id       date  num_kill
0         a 2021-06-03         3
1         a 2021-06-04         5
2         a 2021-06-05         9
3         a 2021-06-07         7

In [8]:
# Algorytms
df['sum_kill']=df['num_kill']
for i in range(len(df)):
    for j in range(1,3):
        if i+j < len(df) and int((df['date'].values[i+j]-df['date'].values[i])/pd.Timedelta(1,'D')) <=2:
            df['sum_kill'].values[i]=df['sum_kill'].values[i]+df['sum_kill'].values[i+j]
df

  player_id       date  num_kill  sum_kill
0         a 2021-06-03         3        17
1         a 2021-06-04         5        14
2         a 2021-06-05         9        16
3         a 2021-06-07         7         7

In [9]:
df2=df
df2=df2.drop(["num_kill"],axis=1)
df2

  player_id       date  sum_kill
0         a 2021-06-03        17
1         a 2021-06-04        14
2         a 2021-06-05        16
3         a 2021-06-07         7

In [10]:
# find the max sum_kill in 3 consecutive days
df2[df2['sum_kill']==max(df['sum_kill'])]

  player_id       date  sum_kill
0         a 2021-06-03        17