In [2]:
import pandas as pd

In [17]:
# create the data demo of df
row_number=[1,2,3,4]
player_id=["a","a","a","a"]
date=["2021-06-03T00:00:00","2021-06-04T00:00:00","2021-06-07T00:00:00","2021-06-05T00:00:00"]
num_kill=[3,5,7,9]
dict={"row_number":row_number,"player_id":player_id,"date":date,"num_kill":num_kill}
df=pd.DataFrame(dict)
df

   row_number player_id                 date  num_kill
0           1         a  2021-06-03T00:00:00         3
1           2         a  2021-06-04T00:00:00         5
2           3         a  2021-06-07T00:00:00         7
3           4         a  2021-06-05T00:00:00         9

In [20]:
df["date"]=pd.to_datetime(df['date'])
df

   row_number player_id       date  num_kill
0           1         a 2021-06-03         3
1           2         a 2021-06-04         5
2           3         a 2021-06-07         7
3           4         a 2021-06-05         9

In [23]:
df.dtypes

row_number             int64
player_id             object
date          datetime64[ns]
num_kill               int64
dtype: object

In [26]:
# sort by "date",ascending
df.sort_values(by=['date'],axis=0,ascending=True,inplace=True,na_position='last')
df

   row_number player_id       date  num_kill
0           1         a 2021-06-03         3
1           2         a 2021-06-04         5
3           4         a 2021-06-05         9
2           3         a 2021-06-07         7

In [27]:
# because of the sort, the index are chaos, so reset the index
df.reset_index
df

   row_number player_id       date  num_kill
0           1         a 2021-06-03         3
1           2         a 2021-06-04         5
3           4         a 2021-06-05         9
2           3         a 2021-06-07         7

In [29]:
# Algorytms
df['sum_kill']=df['num_kill']
for i in range(len(df)):
    for j in range(1,3):
        if i+j < len(df) and int((df['date'].values[i+j]-df['date'].values[i])/pd.Timedelta(1,'D')) <=2:
            df['sum_kill'].values[i]=df['sum_kill'].values[i]+df['sum_kill'].values[i+j]
df

   row_number player_id       date  num_kill  sum_kill
0           1         a 2021-06-03         3        17
1           2         a 2021-06-04         5        14
3           4         a 2021-06-05         9        16
2           3         a 2021-06-07         7         7

In [34]:
# find the max sum_kill in 3 consecutive days
df[df['sum_kill']==max(df['sum_kill'])]

   row_number player_id       date  num_kill  sum_kill
0           1         a 2021-06-03         3        17